@import 'variables';

body {
  padding: 0;
  margin: 0;
  width: 100%;
  -ms-overflow-style: none; /* IE и Edge */
  scrollbar-width: none; /* Firefox */
  background: #f8f8ff;
}
body::-webkit-scrollbar {
  display: none;
}
ul,
h2,
p {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}